<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style >
      @media (min-width: 500px) {
    .container{
        max-width: 400px;
        padding-top: 160px; 
    }
}
  .OneStepAway{
    text-align: center;
  }
  .button {
  background-color: #98FB98 ; /* Green */
  }
body{
background: linear-gradient(to top, #FFFFFF 50%, #98FB98 60%);

 
}
#test{
	height: 40px;
	width: 340px;
}
    </style>
    </head>

    <body>
      <nav class="navbar fixed-top " style="background-color: #0E0C0A;">
        <a class="navbar-brand" href="#" style="color:#98FB98 ; font-size:25px">
    <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    <i>OneStepAway</i>
  </a>
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href=" {{ url_for('home')}}" style="color:#98FB98 ; font-size:20px">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('register')}}" style="color:#98FB98 ; font-size:20px">Register Here!</a>
  </li>
</ul>
</nav>
      <div class="container">
      <div class="shadow-lg p-3 mb-5 bg-white rounded" >
      <form>
  <div class="form-group" >
    <div class="OneStepAway">
    
    <p><img src="C:\Users\Administrator\Desktop\new_proj\NextToYou\templates\mobius-nest-egg-logo-black.jpg" style="width:128px;height:128px"></p>
    <label for="examplename"><h4>OneStepAway</h4></label>
    </div>
    <label for="exampleInputEmail1">Username or Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <a href="#" style="font-size: 13px">Forgot Password?</a>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1" style="font-size: 13px">Remember me</label>
  </div>
  <button type="submit" class="btn btn-success" id="test">Login</button>
  <p><center>Don't have an account?<a href="#">Sign up</a></center></p>
</form>
</div>
</div>

    </body>
</html>